### Day Objectives
Practice on Income Dataset

Define functions for the following data points

Average Income of all states from 2005 to 2013

State with highest average income in the last three years

State with lowest average income from 2007 to 2010(inclusive)

Print the list of all states in the same line with average income less than California

Print the names of states based on descending order of income in the year 2009

State with the lowest recorded income from 2005 to 2013

In [3]:
import pandas as pd
filepath='DataFiles/income.csv'
incomedf=pd.read_csv(filepath)
print(incomedf)

       GEOID       State   2005   2006   2007   2008   2009   2010   2011  \
0  04000US01     Alabama  37150  37952  42212  44476  39980  40933  42590
1  04000US02      Alaska  55891  56418  62993  63989  61604  57848  57431
2  04000US04     Arizona  45245  46657  47215  46914  45739  46896  48621
3  04000US05    Arkansas  36658  37057  40795  39586  36538  38587  41302
4  04000US06  California  51755  55319  55734  57014  56134  54283  53367

    2012   2013
0  43464  41381
1  63648  61137
2  47044  50602
3  39018  39919
4  57020  57528

In [13]:
print(len(incomedf.columns))
print(len(incomedf.values))

11
5

In [17]:
def getRowIndex(df, rowkey):
    for i in range(len(df.values)):
        if df.values[i][0] == rowkey or df.values[i][1] == rowkey:
            rowindex = i
    return rowindex

def getColumnIndex(df, columnkey):
    for i in range(len(df.columns)):
        if df.columns[i] == columnkey:
            columnindex = i
    return columnindex

In [13]:
def avg(incomedf,lb,ub):
    lb=getColumnIndex(incomedf, lb)
    print(lb)
    ub=getColumnIndex(incomedf, ub)
    print(ub)
    count=0
    sum=0
    for i in range(len(incomedf.values)):
        print(incomedf.values[i])
        for j in range(lb,ub):
            print(incomedf.values[i][j])
            sum+=incomedf.values[i][j]
            count+=1
        
       
    return sum//count
avg(incomedf,"2005","2013")

2
10

48326

In [18]:
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528