In [2]:
#function to calculate the factorial of a given number
def fact(n):
    a=1
    for i in range(1,n+1,1):
        
        a=a*i
    return a    
    
fact(4)

24

In [3]:
#Function to calculate average of all factorials in a given range
def avgfact(n):
    count=0
    sum=0
    for i in range(1,n+1):
        sum=sum+fact(i)
        print(sum)
    avg=sum//n
    return avg
avgfact(4)

1
3
9
33

8

In [4]:
#Function to generate N odd armstrong numbers 
def oddarmstrong(n):
    
   
    for i in range(152,n+1):
        #print(i)
        a=len(str(i))
        n1=i
        sum=0
        while(i>0):
            d=i%10
            sum=sum+(d**a)
            i=i//10
            #print(sum)
        #print(sum)
        if sum==n1:
            if n1%2!=0:
                print(n1,end=" ")
        
oddarmstrong(154)

153

In [5]:
#Function to generate Multiplication table for a number in a given range
#10 in the range(100, 102) inclusive
#10 x 100 = 1000
#10 x 101 = 1010
#10 x 102 = 1020
def mul(n,lb,ub):
    for i in range(lb,ub+1):
        res=n*i
        print(n,"*",i,"=",res)
mul(10,100,102)

10 * 100 = 1000
10 * 101 = 1010
10 * 102 = 1020

In [6]:
#[500 ,550] -->500,501,502...550
#(500 ,550) -->501,501,502...549
#range(500 ,550) -->500,501,502...549
# All the based functions in Python have start value inclusive

# Function to print the alternative values in a range 
def alternateValue(start,end):
    for value in range(start,end+1, 4):
        print(value,end=" ")
    return
alternateValue(500,525)

500 504 508 512 516 520 524

In [7]:
#Function to print reverse of given range in the 
def reverseRange(start,end):
    for value in range(end,start-1,-1):
        print(value, end=" ")
    return
reverseRange(1,10)

10 9 8 7 6 5 4 3 2 1

In [8]:
#Funtion print the odd numbers in reverse order in a range
def reverseOddNumbers(start,end):
    for i in range(end,start-1,-1):
        if i%2!=0:
            print(i,end=" ")
    return
reverseOddNumbers(1,10)

9 7 5 3 1

In [10]:
#Calculate the sume of numbers in a range 
def sumRange(start,end):
    sum=0
    for i in range (start,end+1):
        sum=sum+1
    return sum
sumRange(100,200)
#sum of all n natural numbers 
#200* 201/2- (100*101)/2

101

In [11]:
#function to calculate the average of a given range
#(1,5)->3
def avgGivenRange(st,end):
    sum =0
   # count =0
    for i in range(st,end+1):
        sum =sum +i   #sum calculation 
    #    count =count +1    #counting number of values 
  #  return sum/count
    return sum/(end-st+1)
avgGivenRange(1,5)

3.0

In [12]:
#Function t generate al leap in a given time period 
#2000 -2020 -> 2000 2004 2008 2012 2016 2020 
#isLeapyear(year) #To check if a given year is lease 

#generate LEapyear(startYear,endYear)#uses the isLeapYear()
def isLeapYear(year):
    if year%400 == 0  or (year %100!=0 and year % 4==0):
        return True
    return False
#isLeapYear(2014)
def genertateLeapYear(sy,se):
    for year in range(sy,se+1):
        if isLeapYear(year):
            print(year,end=" ")
    return
genertateLeapYear(1919,2019)

1920 1924 1928 1932 1936 1940 1944 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000 2004 2008 2012 2016

In [13]:
#Calculate the number of days in a given time period using Leapyear ,if the year is 
def isLeapYear(year):
    if year % 400 == 0 or (year % 100 !=0 and year % 4==0):
        return True
    return False 
isLeapYear(2000)
def numberOfDays(sy,se):
    sum =0
    for year in range(sy,se+1):
        if isLeapYear(year):
            sum =sum +366
        else:
            sum = sum +365
        
    return sum
numberOfDays(1919,2019)

36890

In [14]:
def daysinamonth(m,year):
    if ((m<=7 and m%2!=0 and m!=2) or (m>=8 and m%2==0 and m!=2)):
        return 31
    elif(m==2):
        if year % 400 == 0 or (year % 100 !=0 and year % 4==0):
            return 29
        return 28
    return 30
    
def daysinstartyear(startmonth,startyear):
    days=0
    for month in range(startmonth,13):
        days+=daysinamonth(month,startyear)
    return days
def daysinendyear(endmonth,endyear):
    days=0
    for month in range(1,endmonth+1):
        days+=daysinamonth(month,endyear)
    return days
def isLeapYear(year):
    if year % 400 == 0 or (year % 100 !=0 and year % 4==0):
        return True
    return False 
isLeapYear(2000)
def numberOfDays(sy,se):
    sum =0
    for year in range(sy,se+1):
        if isLeapYear(year):
            sum =sum +366
        else:
            sum = sum +365
        
    return sum


def noofhours(startmonth,startyear,endmonth,endyear):
    
    days=0
    days3=0
    days1=daysinstartyear(startmonth,startyear)
    days2=daysinendyear(endmonth,endyear)
    if endyear-startyear==2:
        days3+= numberOfDays(startyear+1,startyear+1)
        return days3
    elif endyear-startyear>2:
        days3+= numberOfDays(startyear+1,endyear+1)
        return days3
    days=days1+days2+days3
    return days*24
    
        
noofhours(6,1997,9,2000)

1461