### Function to generate Multiplication table for a number in a given range
10 in the range(100, 102) inclusive<br>
10 x 100 = 1000<br>
10 x 101 = 1010<br>
10 x 102 = 1020<br>

In [2]:
def mul(lb,ub,n):
    for i in range(lb,ub+1):
        print(n,"*",i,"=",n*i)
mul(100,102,10)

10 * 100 = 1000
10 * 101 = 1010
10 * 102 = 1020

#### You are given a string and your task is to swap cases. In other words, convert all lowercase letters to uppercase letters and vice versa. (The String may contain special characters).

In [12]:
def swap(s):
    for i in s:
        
        if i.isupper():
            #s=s.replace(i,i.lower())
            print(i.lower(),end="")
            
        elif i.islower():
            print(i.upper(),end="")
        else:
            print(i,end="")
    
swap("As#aP")

aS#Ap

#### Given an integer, ’n’ , perform the following conditional actions:
If ‘n’  is odd, print Weird<br>
If  ‘n’ is even and in the inclusive range of 2 to 5, print Not Weird<br>
If  ‘n’ is even and in the inclusive range of 6 to 20 , print Weird<br>
If  ‘n’ is even and greater than 20, print Not Weird

In [23]:
def no(n):
    if n%2==0:
        if 1<n<6:
            print("not weird")
        elif 5<n<21:
            print("weird")
        elif n>20:
            print("not weird")
    else:
        print("weird")
no(20)

weird

###### Given the participants ‘n’ score sheet for your University Sports Day, you are required to find the runner-up score. You are given scores. Store them in a list and find the score of the runner-up. 
##### (there can be multiple winners - if their scores match).

###### Write a program to check if the word 'orange' is present in the "This is orange juice".

In [24]:
a="This is orange juice"
if "orange" in a :
    print("1")

1

In [26]:
dir(str.translate)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__name__',
 '__ne__',
 '__new__',
 '__objclass__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [33]:
s="abcdefewesfs"
a=s.maketrans("abc","def","ghd")
print(a)
s.translate(a)

{97: 100, 98: 101, 99: 102, 103: None, 104: None, 100: None}

'defefewesfs'

In [39]:
s="kfn kenfkd fnefn"
s.split()

['kfn', 'kenfkd', 'fnefn']

In [41]:
s=",".join(s)
print(s)

k,f,n, ,k,e,n,f,k,d, ,f,n,e,f,n

In [44]:
n=int(input())
d={}

for i in range(n):
    a=input("enter the key")
    b=int(input("enter the value"))
    d[a]=b
print(d)

6
enter the keybadulla
enter the value20
enter the keysana
enter the value300
enter the keysumanth
enter the value500
enter the keyhari
enter the value200
enter the keysiva
enter the value100
enter the keypavan
enter the value50
{'badulla': 20, 'sana': 300, 'sumanth': 500, 'hari': 200, 'siva': 100, 'pavan': 50}

In [45]:
d

{'badulla': 20,
 'sana': 300,
 'sumanth': 500,
 'hari': 200,
 'siva': 100,
 'pavan': 50}

In [60]:

f={}
for i in d.items():
    f[i[1]]=i[0]
print(f)
a=sorted(f.items(),reverse=True)
print(a)
c=1
for i in a:
    
    print(c,i[1])
    c+=1

{20: 'badulla', 300: 'sana', 500: 'sumanth', 200: 'hari', 100: 'siva', 50: 'pavan'}
[(500, 'sumanth'), (300, 'sana'), (200, 'hari'), (100, 'siva'), (50, 'pavan'), (20, 'badulla')]
1 sumanth
2 sana
3 hari
4 siva
5 pavan
6 badulla

In [88]:
a=int(input())
b=int(input())
for i in range(1,max(a,b)):
    if a%i==0 and b%i==0:
        print(i,end=" ")

12
6
1 2 3 6

In [72]:
a,b=list(map(int,input().split()))

2 3

In [74]:
a

2

In [75]:
c,d =[5,7]
d

7

In [77]:
l=[1,2,3,4]
print()

TypeError: print() argument after ** must be a mapping, not list

In [81]:
print(*map(int,input().split()))

8 9
8 9

In [87]:
max(1,2)

2